.container {
  --background: rgb(0, 0, 0) url("../../assets/img/background5.jpg") no-repeat center center / cover;
}

ion-slide{
  height: 100%;
  display: block;
}

img{
  max-height: 60%;
  max-width: 70%;
  margin: 70px 0 20px;
}

p{
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  margin: 20px 60px ;

}

p b {
  color: var(--ion-text-color, #000000);
}

h2 {
  margin: 7px 75px;
}

ion-col {
  text-align: center;
}

ion-button {
  border-radius: 5px;
  font-weight: 400;
  margin: 10px 4px;
}

.login {
  border: 0.5px solid #2dd36f75;
}

ion-footer {
  padding: 0 10px;
  box-shadow: none;

  &.footer-md::before {
    background-image: none;
  }
}
